body,
html,
#root {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  min-height: 100px;
  max-height: 300px;
  min-width: 100px;
  max-width: 300px;
  padding: 20px, 20px;
  margin: -5px;
  border: 5px solid #777;
}
