.row {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  max-height: 400px;
  margin: 10px;
  width: 30%;
  border: solid 2px rgba(49, 49, 49, 0.637);
  object-fit: fill;
}
