/* font */
@font-face {
  font-family: main;
  font-weight: 400;
  src: url("../font/NanumSquareR.ttf") format("truetype");
}

/* defult_style */

.flex_row {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.hidden {
  display: hidden;
}

.error {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
