/* position : 요소의 위치 지정용 ;
  position: static 기본값, 기본적으로 지정되어있어야 할 위치에 지정됨.;
  position: relative 지정되지 않은 위치로 이동할 수 있음(상대적). top,left,bottom,right 로 활용;
  position: absolute static 이 아닌 부모 요소를 기준으로 이동(없으면 body) top,left,bottom,right 로 활용;
  position: fixed 고정된 위치에 배치, viewpoint 기준으로 top,left,bottom,right 로 활용; */

.layout_imgbox {
  margin-top: 150px;
}

.column_imgBox {
  column-width: 300px;
  column-gap: 15px;
}

.box {
  margin-bottom: 10px;
  position: relative;
}

.rander_img {
  width: 100%;
  border: 2px solid rgba(143, 142, 142, 0.692);
  border-radius: 10px;
}

.imgIcon {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 5px;
}

.imgIcon > button {
  font-family: main;
  margin-left: 2px;
  padding: 5px 10px;
  background-color: rgb(68, 57, 228);
  color: white;
  border: none;
  border-radius: 5px;
  opacity: 0.9;
}

.rander_img:hover {
  transition-property: opacity;
  transition-duration: 0.7s;
  opacity: 0.8;
}

.box:hover .imgIcon {
  display: flex;
}

/* 모달영역 */

.modalContanier {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-height: 500px;
  max-width: 500px;
  border: solid 2px rgba(49, 49, 49, 0.637);
  object-fit: fill;
}

.modalShow {
  position: relative;
  animation: fadeInUp 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.modalBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  opacity: 0.7;
}

.modal h1 {
  color: white;
}

.close {
  display: none;
}
