.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  margin: 0px;
  width: 300px;
  height: 300px;
}

.background_main {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.center_main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_main > h1 {
  font-family: title_main;
  font-size: 36px;
  color: white;
}

.fadein {
  animation: fadein 2s;
}

.fadeout {
  animation: fadeout 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
